:root {
  --main-bg: #141516;
}

body {
  background-color: var(--main-bg);
}

/* HERO */
.hero-pic {
  min-height: 100vh;
  background: url("pic/background.png") center/cover no-repeat;
  background-attachment: fixed;
}

/* MENU */
.menu {
  position: fixed;
  right: 0;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 1;
}

.menu-wrap {
  background: #1a1a1a;
  height: 100%;
  padding: 20px;
}

.menu a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: white;
}

/* BUTTON MOVE */
.menuBtn {
  transition: right 0.3s ease;
}

.menuBtn[aria-expanded="true"] {
  right: 260px;
}

/* CARDS */
.project-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
/* DESKTOP = sidebar (default) */
.menu {
  position: fixed;
  right: 0;
  width: 260px;
  height: 100%;
  top: 0;
}

/* MOBILE = navbar top */
@media (max-width: 576px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
  }

  .menu-wrap {
    height: auto;
    padding: 10px;
  }
  .menu-links i {
    position: absolute;
    right: 20px;
    transform: rotate(-90deg);
  }
}
